@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ==== General Reset ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: darksalmon;
  z-index: 5;
  border-bottom: 3px solid white;
  

}

.navbar{
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}
.nav-left, .nav-menu, .nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
a{
  text-decoration: none;
  color: white;
}

.nav-left .nav-logo .logo{
 font-size: 3rem;
 font-weight: 800;
 
}
.nav-left .nav-menu{
  list-style: none;
}
.nav-left .nav-menu li a{
 padding: 8px 10px;
 font-size: 1rem;
 transition: 0.5s linear;
}
.nav-left .nav-menu li a:hover{
 text-decoration: underline;
 text-underline-offset: 10px;
 font-weight: 600;
 
}
.nav-right p{
  font-size: 1rem;
}
.nav-right .btn, .submit{
  background-color: white;
  color: black;
  padding: 8px 22px;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s linear;
}
.nav-right .btn:hover, .submit:hover{
  background-color: transparent;
  color: white;
  
  border: 1px solid black;
  
}
.hero-section{
  min-height: 100vh;
  background: white;
}
.hero-section .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 100px;
  min-height: 100vh;
}
.section-content{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero-section .section-content .hero-details h1{
  max-width: 70%;
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-section .section-content .hero-details p{
  max-width: 70%;
  font-size: 1.1rem;
  margin-bottom: 40px;
}
.hero-section .section-content .hero-details .buy-now{
  padding: 10px 20px;
  border: 1px solid darksalmon;
  background: transparent;
  color: darksalmon;
  cursor: pointer;
  transition: 0.3s ease;
}
.hero-section .section-content .hero-details .buy-now:hover{
  
  border: 2px solid transparent;
  background: darksalmon;
  color: white;
  padding: 50px;
}

.about-us{
  width: 100%;
  background-color: white;
  padding: 120px 0px;
}
.about-us .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.about-us .section-content .about-image img{
 width: 450px;
 height: 450px;
 border-radius: 50%;
 object-fit: cover;
}

.about-us .about-details{
  max-width: 50%;
}
 .section-title{
  text-align: center;
  padding: 60px 0px 100px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
 }
.section-title::after{
  content: '';
  display: block;
  background: darksalmon;
  height: 5px;
  width: 100px;
  border-radius: 30px;
  margin: 10px auto 0;
}
.about-details .section-title{
  padding: 0;
}
.about-details p{
  font-family: 1.1rem;
  line-height: 30px;
  text-align: center;
  margin: 50px 0 30px;
}
.menu-section{
  background-color: darksalmon;
  color: white;
  padding: 50px 0 100px;
}
.menu-section .menu-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.menu-section .menu-list .menu-item{
 width: 30%;
 text-align: center;
 height: 400px;
}
.menu-section .menu-list .menu-item{
 width: 100%;
 height: 88%;
 border-radius: 8px;
 margin-bottom: 10px;
}
.menu-section .section-title::after{
  background-color: white;
}
.contact-us{
  background-color: wheat;
  padding: 100px;
}
.contact-us .section-content{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.contact-form{
  max-width: 70%;
}
.contact-form form{
  width: 100%;
}
.contact-form form input, textarea{
  width: 100%;
  height: 50px;
  padding: 0px 12px;
  border: 1px solid white;
  outline: none;
  margin-bottom: 30px;
  border-radius: 10px;
  font-size: 1rem;
}
textarea{
  height: 100px;
  resize: vertical;
}
.contact-us .contact-details{
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
.contact-us .contact-details div{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.footer{
  background: darksalmon;
  height: 100px;
  padding: 20px 30px;
}
.footer .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .section-content .footer-links ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}


@media (max-width: 768px) {
  .nav-bar {
    display: none;              
    flex-direction: column;     
    background-color: darksalmon;  
    position: absolute;        
    top: 80px;                  
    right: 20px;                
    width: 200px;               
    border-radius: 8px;         
    padding: 15px;              
  }
}

@media(max-width: 768px){
.hero-details{
        font-size: 0.875rem;
        line-height: 1.4;
        text-align: justify;
    }
}

@media(max-width: 768px){
    .img{
        width: 100%;
        max-height: 15.625rem;
    }
}


