@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: #e9967a;
  --nav-color: #e9967a;
  --bg-color: #e8f3f1;
  --black: #000000;
  --card-color: #cc8871;
  --border: 0.1rem solid var(--card-color);
  --box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
/* ==== General Reset ==== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
   transition: all 0.5s ease-in;
   scroll-behavior: smooth;
  scroll-padding-top: 16vh;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background-color: var(--bg-color);
}
section{
  padding: 2rem 7%;
}
.btn{
  display: inline-block;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.7rem;
  padding: 0.8rem 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
.btn:hover{
  letter-spacing: 0.2rem;
}
.title{
  text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), 
  -2px 2px 0 var(--card-color),  2px -2px 0 var(--card-color);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 3.5rem 0;
  font-size: 4rem;
}
.title span{
  color: var(--main-color);
}
.header{
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 16vh;
  /*z-index: 1000;*/
}
.header .logo img{
  height: 10rem;
  border-radius: 50%;
}
.header .navbar a{
  color: #fff;
  font-size: 1.6rem;
  margin: 0 1.3rem;
 
}
.header .navbar a:hover{
  color: var(--black);
  border-top: 0.3rem solid var(--black);
  border-bottom: 0.3rem solid var(--black);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.header .icons{

  display: flex;
}
.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .icons div:hover{
color: var(--black);
}
.header .icons .menu-icon{
display: none;
}
/* Search Box */
.header .search-form{
  display: flex;
  align-items: center;
  position: absolute;
  top: 115%;
  right: -100%;
  width: 45rem;
  height: 4.5rem;
  background-color: #e8f3f1;
}
.header .search-form.active{
  right: 7%;
}

.header .search-form input{
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  text-transform: none;
}
.header .search-form label{
  color: var(--black);
  font-size: 2rem;
  padding-right: 1.3rem;
  cursor: pointer;
}
.header .search-form label:hover{
  color: var(--main-color);
}
/* Cart Section */
.header .cart-items-container{
  position: absolute;
  top: 100%;
  right: -100%;
  width: 35rem;
  background-color: #fff;
  height: 80vh;
  border: solid 1px black;
  padding: 0.8rem;
}
.header .cart-items-container.active{
  right: 0;
}
.header .cart-items-container .cart-items{
 display: flex;
 align-items: center;
 margin: 2rem 0;
 /*border: solid 1px black;*/
 position: relative;
 gap: 1rem;
}
.header .cart-items-container a{
  width: 100%;
}
.header .cart-items-container .cart-items img{
  height: 7rem;
}


.header .cart-items-container .cart-item span{
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}
.header .cart-items-container .cart-items span:hover{
 color: darksalmon
}
.header .cart-items-container .cart-items .content h3{
  font-size: 1.5rem;
  color: var(--black);
  padding-bottom: 0.8rem;

}
.header .cart-items-container .cart-items .content .price{
  font-size: 1.5rem;
  color: var(--main-color);
}
/* home section starts*/
.home{
  display: flex;
  align-items: center;
  min-height: 84vh;
 margin-top: 16vh;
 background-color: rgb(244, 242, 241);
 background-image: url(/assets/Logo\ 1.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: right;
}
.home .hero{
  width: 60rem;
}
.home .hero h3{
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}
.home .hero p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3.2rem;
  padding: 1rem 0;
  color: #eee; 
}
/* menu section */
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .wrapper .cake-card{
  background-color: var(--card-color);
  padding: 3rem 2rem;
  text-align: center;
  transform-origin: top center;
}
.menu .wrapper .cake-card:hover{
  transform: scaleY(1.1);
  background-color: var(--black);
}
.menu .wrapper .cake-card:hover *:not(a){
 color: var(--main-color); 
}
.menu .wrapper .cake-card img{
  width: 100%;
}
.menu .wrapper .cake-card h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}
.menu .wrapper .cake-card .price {
  color: #fff;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
.menu .wrapper .cake-card .price span {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: line-through;
}
/* cheesecake */
.cheese-cake .wrapper .cheese-card{
  text-align: center;
  background-color: #eac7c7;
  padding: 2rem;
  border: var(--border);
}
.cheese-cake .wrapper .cheese-card:hover{
 box-shadow: var(--box-shadow);
}
.cheese-cake .wrapper .cheese-card .icons a{
 border: var(--border);
 height: 5rem;
 width: 5rem;
 color: #fff;
 font-size: 2rem;
 line-height: 5rem;
 margin: 0.3rem;
}
.cheese-cake .wrapper .cheese-card .icons a:hover{
 background-color: var(--main-color);
 box-shadow: var(--box-shadow);
}

.cheese-cake .wrapper .cheese-card .img{
  padding: 2.5rem 0;
}
.cheese-cake .wrapper .cheese-card .img img{
 height: 20rem;
}
.cheese-cake .wrapper .cheese-card .content h3{
  color: #fff;
  font-size: 2.5rem;
  margin: 1rem 0;
}
.cheese-cake .wrapper .cheese-card .content .stars{
  padding: 1.8rem;
}
.cheese-cake .wrapper .cheese-card .content .stars i{
 font-size: 1.7rem;
 color: var(--main-color);
}
.cheese-cake .wrapper .cheese-card .content .price{
  color: #fff;
  font-size: 1.8rem;
}
.cheese-cake .wrapper .cheese-card .content .price span{
  color: #fff;
  font-size: 1.4rem;
  text-decoration: line-through;
}
/* about */
.about .container{
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  flex-wrap: wrap;
} 
.about .container .img{
  flex: 1 1 45rem;
}
.about .container .img img{
  width: 100%;
}
.about .container .content{
  flex: 1 1 45rem;
  padding: 2rem;
}
.about .container .content h3{
 font-size: 3rem;
 color: #fff;
 padding: 1.2rem 0;
}
.about .container .content p{
 font-size: 1.6rem;
 color: #ccc;
 padding: 1rem 0;
 line-height: 2.2rem;
}
/* contact */
.contact .contents{
  display: flex;
  background-color: var(--nav-color);
  flex-wrap: wrap;
  gap: 1rem;
  height: 50rem;
}
.contact .contents iframe{
  height: 100%;
  flex: 1 1 45rem;
  object-fit: cover;
}
.contact .contents form{
  height: 100%;
  flex: 1 1 45rem;
  text-align: center;
  padding: 5rem 2rem;
}
.contact .contents form h3{
  text-transform: uppercase;
  color: #000000;
  font-size: 3.5rem;
  padding: 1.5rem 0;
}
.contact .contents form .input-box{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border: var(--border);
}
.contact .contents form .input-box span{
 color: #fff;
 font-size: 2rem;
 padding-left: 2rem;
}
.contact .contents form .input-box input{
 background-color: var(--bg-color);
 text-transform: none;
 color: #fff;
 width: 100%;
 padding: 2rem;
 font-size: 1.8rem;
}
/* footer section */
footer{
  background-color: var(--black);
  text-align: center;
}
.footer .social-media {
  padding: 1rem  0;
}
.footer .social-media a{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.5rem;
}

